{% extends "portfolio/base.html" %}

{% block content %}
{% include "portfolio/sections/nav.html" %}
{% include "portfolio/sections/hero.html" %}
{% include "portfolio/sections/thinking.html" %}
{% include "portfolio/sections/news.html" %}
{% include "portfolio/sections/timeline.html" %}
{% include "portfolio/sections/publications.html" %}
{% include "portfolio/sections/writing.html" %}
{% include "portfolio/sections/projects.html" %}
{% include "portfolio/sections/demos.html" %}
{% include "portfolio/sections/contact.html" %}
{% endblock %}
